/* -= [Instructions] =- */
/* Use this to add custom CSS to your pack rather than modifying the default CSS (especially if you're distributing the pack). This is called after "default.css", meaning it overwrites anything in it. */

html, body
{
	background-color: black;
	background-image: url(assets/bg.png);
	color: white;
}

#player
{
	background-color: transparent;
	text-shadow: 0 0 10px white;
}